{% extends "hotel/base.html" %}
{% load static %}
{% block content %}
 <div class="ui main container">
 <head>
     <style>
        body {
            background-color: white;
            height: auto;
        }
        h2 {
            color:#d5242f ;
        }
     </style>
 </head>
<h2 >What We Do</h2>

<p> Hotel Management site  provides expert facilities and compassionate care to all who need it – regardless of their age, station in life or available resources. our mission is to provide extensive facilities,care  that provides peace of mind, quality of life and independence.

For more than 10 years, we have helped people to  build a stronger, healthy environment through innovative programs delivered across the lifespan. Each year, our system helps nearly 50,000 people to live higher quality and more independent lives by providing innovative services that meet the unique services to the members.
</p>
<h2>Our  service areas include:</h2>

<p>
 It provides healthy environment and quality of life for all individuals to achivve  the highest quality of life.</p>
 </div>
{% endblock %}