{% extends 'hotel/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
<ul style="color:red;font-size: 50px;">
   {% for message in messages %}
	   <li>{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}




<div class="row">
  <div class="col-md-6 col-md-offset-3 ">


      <h4>My Bookings:</h4>



<!-- Loads all of the Current users reservations in a list and displays all  the details -->
    {% if bookings|length > 0 %}
      {%for booking in bookings%}
          {% if booking.CheckIn > now.date %}
        <a class="btn btn-sm btn-danger pull-right" href="{% url 'hotel:cancelbooking' booking.id %}">Cancel</a>
        <a  class="btn btn-sm btn-default pull-right "href="{% url 'hotel:gpdf' booking.id %}">Download PDF</a>
        {% endif %}

        <p>Hotel Name: {{booking.hotel.Name}}</p>
          <p>Room Number: {{booking.room.RoomNumber}}</p>
        <p>Room Type :{{booking.room.RoomType}}  </p>
        <p>Guest Name :{{booking.guestFirstName}} {{booking.guestLastName}}  </p>
        <p>Check-in Date : {{booking.CheckIn}}  </p>
        <p>Check-out Date: {{booking.CheckOut}} </p>
        <p>Total Price : ${{booking.totalPrice}} </p>

          <br>
          <br>

      {%endfor%}

        {% else %}

                    <p>There are no bookings </p>

        {% endif %}


    </div>

 <a class="btn btn-primary " href="{% url 'hotel:hotels_list' %}">View Hotels list Here</a>
  </div>
{% endblock %}
